::ng-deep .block-marge {
    margin-top: 10px;
}

::ng-deep .ui-steps-item{
    width: 25%;
}

::ng-deep .titel-steps {
    text-align: center;
    
}

::ng-deep .card h1 {
    font-size: 18px;
    font-weight: bolder;
    margin: 18px 0;
}

::ng-deep body .ui-overlaypanel {
    border: 1px solid #dddddd;
    z-index: 10000;
}
::ng-deep .ui-fileupload-row {
    display: initial;
}