
  body .ui-message {
    width: 100%;
}

.login-body .login-content .login-panel .login-panel-content .forms .login-input-wrapper {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}