<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1 class="titel-steps">Nouvelle vente privée</h1>
          <div class="p-grid ui-fluid">
            <div class="p-col-2">
            </div>
            <div class="p-col-8">
              <p-steps [model]="stepsItems" [activeIndex]="2"></p-steps>
            </div>
            <div class="p-col-2">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1>Produit</h1>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="p-grid form-group">
              <div class="p-col-1 p-md-1">
              </div>


              <div class="p-col-5 p-md-5">
                <div class="p-col-12">
                  <label>Libellé *</label>
                </div>
                <div class="p-col-12">
                  <input type="text" pInputText autocomplete="off" [(ngModel)]="label" name="label" required
                    #labelCtrl="ngModel" />
                  <p-message *ngIf="!labelCtrl.valid && labelCtrl.touched" severity="error" text="Libellé obligatoire">
                  </p-message>
                </div>
              </div>

              <div class="p-col-1 p-md-1">
              </div>

              <div class="p-col-5 p-md-5">
                <div class="p-col-12">
                  <label>Descritption</label>
                </div>
                <div class="p-col-12">
                  <textarea [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="description"
                    name="description" #descriptionCtrl="ngModel"></textarea>
                </div>
              </div>
            </div>


            <div class="p-grid form-group">
              <div class="p-col-1 p-md-1">
              </div>

              <div class="p-col-5 p-md-5">
                <div class="p-col-12">
                  <label>Prix *</label>
                </div>
                <div class="p-col-12">
                  <input type="text" pInputText pKeyFilter="money" [(ngModel)]="price" name="price" required
                    #prixCtrl="ngModel">
                  <p-message *ngIf="!prixCtrl.valid && prixCtrl.touched" severity="error" text="Prix obligatoire">
                  </p-message>
                </div>
              </div>

              <div class="p-col-1 p-md-1">
              </div>

              <div class="p-col-5 p-md-5">
                <div class="p-col-12">
                  <label>Réduction</label>
                </div>
                <div class="p-col-12">
                  <input type="text" pInputText pKeyFilter="num" [(ngModel)]="percentage" name="percentage"
                    #percentageCtrl="ngModel">
                </div>
              </div>
            </div>

            <div class="p-grid form-group">
              <div class="p-col-1 p-md-1">
              </div>

              <div class="p-col-5 p-md-5">
                <div class="p-col-12">
                  <label>Stock</label>
                </div>
                <div class="p-col-12">
                  <input type="text" pInputText pKeyFilter="money" [(ngModel)]="stock" name="stock"
                    #stockCtrl="ngModel">
                </div>
              </div>

              <div class="p-col-1 p-md-1">
              </div>

              <div class="p-col-5 p-md-5">

              </div>
            </div>

            <div class="p-grid form-group block-marge">

              <div class="p-col-2 p-md-2">

              </div>

              <div class="p-col-4 p-md-4">
                <button type="button" (click)="goBack()" label="Précédent" pButton></button>
              </div>

              <div class="p-col-4 p-md-4">
                <button type="submit" [disabled]="!f.valid" label="Suivant" pButton></button>
              </div>

              <div class="p-col-2 p-md-2">
              </div>


            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>