<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1 class="titel-steps">Nouvelle vente privée</h1>

          <div class="p-grid ui-fluid">
            <div class="p-col-2">
            </div>
            <div class="p-col-8">
              <p-steps [model]="items" [activeIndex]="0"></p-steps>
            </div>
            <div class="p-col-2">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1>La vente</h1>
          <div class="p-grid form-group">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <input type="text" pInputText placeholder="Nom *" autocomplete="off" />
            </div>

            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <p-toggleButton onLabel="Active" offLabel="Désactive" onIcon="pi pi-check"
                offIcon="pi pi-times" [(ngModel)]="saleStat"></p-toggleButton>
            </div>
          </div>
          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <p-calendar id="datetime" dateFormat="mm/dd/yy" showTime="true" placeholder="Date début *"
                [minDate]="yesterday"></p-calendar>
            </div>

            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <p-calendar id="datetime" dateFormat="mm/dd/yy" showTime="true" placeholder="Date fin *"
                [minDate]="yesterday"></p-calendar>
            </div>
          </div>

          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <p-dropdown [options]="categories" [(ngModel)]="selectedCetegory" [filter]="true" filterBy="value.name"
                optionLabel="name"></p-dropdown>
            </div>

            <div class="p-col-1 p-md-1">
            </div>
 
            <div class="p-col-5 p-md-5">
              <p-dropdown [options]="categories" [(ngModel)]="selectedCetegory" [filter]="true" filterBy="value.name"
                optionLabel="name"></p-dropdown>
            </div>
          </div>


          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Descritption"
                autoResize="autoResize"></textarea>
            </div>

            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">

            </div>
          </div>

          <div class="p-grid form-group block-marge">
            <div class="p-col-3 p-md-3">
            </div>

            <div class="p-col-6 p-md-6">
              <button type="button" label="Suivant" pButton icon="pi pi-check"></button>
            </div>

            <div class="p-col-3 p-md-3">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>