<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1 class="titel-steps">Nouvelle vente privée</h1>

          <div class="p-grid ui-fluid">
            <div class="p-col-2">
            </div>
            <div class="p-col-8">
              <p-steps [model]="itemsMenu" [activeIndex]="3"></p-steps>
            </div>
            <div class="p-col-2">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card">

          <div class="p-grid form-group">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-10 p-md-10">
              <p-panel header="La vente" [toggleable]="true" [collapsed]= "true">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-1 ui-md-1">
                  </div>
                  <div class="ui-g-4 ui-md-4">
                    <h3>Libellé:</h3>
                    {{currentSale.label}}
                  </div>
                  <div class="ui-g-2 ui-md-2">
                  </div>
                  <div class="ui-g-4 ui-md-4">
                    <h3>Status:</h3>
                    <div *ngIf="currentSale.enable">
                      Active
                    </div>
                    <div *ngIf="!currentSale.enable">
                      Désactive
                    </div>
                  </div>
                  <div class="ui-g-1 ui-md-1">
                  </div>
                </div>

                <div class="ui-g ui-fluid">
                  <div class="ui-g-1 ui-md-1">
                  </div>
                  <div class="ui-g-4 ui-md-4">
                    <h3>Date de début:</h3>
                    {{currentSale.beginDate | customDate }}
                  </div>
                  <div class="ui-g-2 ui-md-2">
                  </div>
                  <div class="ui-g-4 ui-md-4">
                    <h3>Date de fin:</h3>
                    {{currentSale.endDate | customDate }}
                  </div>
                  <div class="ui-g-1 ui-md-1">
                  </div>
                </div>

                <div class="ui-g ui-fluid">
                  <div class="ui-g-1 ui-md-1">
                  </div>
                  <div class="ui-g-4 ui-md-4">
                    <h3>Description:</h3>
                    {{currentSale.description}}
                  </div>
                  <div class="ui-g-2 ui-md-2">
                  </div>
                  <div class="ui-g-4 ui-md-4">

                  </div>
                  <div class="ui-g-1 ui-md-1">
                  </div>
                </div>
              </p-panel>
            </div>

            <div class="p-col-1 p-md-1">
            </div>

          </div>

          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-10 p-md-10">
              <p-panel header="L'affiche" [toggleable]="true" [collapsed]= "true">

                <div class="ui-g ui-fluid">
                  <div class="ui-g-2 ui-md-2">
                  </div>
                  <div class="ui-g-8 ui-md-8">
                    <img src="{{poster.source}}" width="100%" height="100%" alt="poster" />
                  </div>
                  <div class="ui-g-2 ui-md-2">
                  </div>
                </div>

              </p-panel>
            </div>

            <div class="p-col-1 p-md-1">
            </div>

          </div>

          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-10 p-md-10">
              <p-panel header="Les détails" [toggleable]="true"  [collapsed]= "true">
                <p-tree [value]="treeSaleDetails" layout="vertical"></p-tree>

              </p-panel>
            </div>

            <div class="p-col-1 p-md-1">
            </div>

          </div>

          <div class="p-grid form-group block-marge">
            <div class="p-col-3 p-md-3">
            </div>

            <div class="p-col-6 p-md-6">
              <button type="button" label="Valider" pButton></button>
            </div>

            <div class="p-col-3 p-md-3">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>