<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1 class="titel-steps">Nouvelle vente privée</h1>

          <div class="p-grid ui-fluid">
            <div class="p-col-2"></div>
            <div class="p-col-8">
              <p-steps [model]="itemsStepsMenu" [activeIndex]="0"></p-steps>
            </div>
            <div class="p-col-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
            <div class="forms">
              <div class="p-grid form-group">
                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Libellé *</h3>
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="label"
                    name="label"
                    required
                    #labelCtrl="ngModel"
                  />
                  <p-message
                    *ngIf="!labelCtrl.valid && labelCtrl.touched"
                    severity="error"
                    text="Libellé obligatoire"
                  >
                  </p-message>
                </div>

                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Status</h3>
                  <p-toggleButton
                    onLabel="Activer"
                    offLabel="Désactiver"
                    onIcon="pi pi-check"
                    offIcon="pi pi-times"
                    #saleStatCtrl="ngModel"
                    [(ngModel)]="saleStat"
                    name="saleStat"
                  ></p-toggleButton>
                </div>
              </div>
              <div class="p-grid form-group">
                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Date début *</h3>
                  <p-calendar
                    id="datetimebegin"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    [minDate]="currentDateTime"
                    [(ngModel)]="beginDate"
                    #beginDateCtrl="ngModel"
                    name="beginDate"
                    required
                  >
                  </p-calendar>
                  <p-message
                    *ngIf="!beginDateCtrl.valid && beginDateCtrl.touched"
                    severity="error"
                    text="Date début obligatoire"
                  ></p-message>
                </div>

                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Date fin *</h3>
                  <p-calendar
                    id="datetimeend"
                    dateFormat="yy-mm-dd"
                    showTime="true"
                    [disabled]="!beginDateCtrl.valid"
                    [minDate]="beginDateCtrl.value"
                    [(ngModel)]="endDate"
                    #endDateCtrl="ngModel"
                    name="endDate"
                    required
                  ></p-calendar>
                  <p-message
                    *ngIf="!endDateCtrl.valid && endDateCtrl.touched"
                    severity="error"
                    text="Date fin obligatoire"
                  ></p-message>
                </div>
              </div>

              <div class="p-grid form-group">
                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Catégorie *</h3>
                  <p-dropdown
                    [options]="categories"
                    [filter]="true"
                    [(ngModel)]="selectedCetegory"
                    placeholder="Selectionné une catégorie *"
                    #categorieCtrl="ngModel"
                    #categorieCtrl
                    filterBy="value.label"
                    optionLabel="label"
                    name="category"
                    required
                  ></p-dropdown>

                  <p-message
                    *ngIf="!categorieCtrl.valid && categorieCtrl.touched"
                    severity="error"
                    text="Catégorie obligatoire"
                  ></p-message>
                </div>

                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Sous Catégorie</h3>
                  <p-dropdown
                    [options]="selectedCetegory?.subCategories"
                    [(ngModel)]="selectedSubCetegory"
                    [filter]="true"
                    placeholder="Selectionné une sous catégorie"
                    [disabled]="!categorieCtrl.valid"
                    #sousCategorieCtrl="ngModel"
                    #sousCategorieCtrl
                    filterBy="value.label"
                    name="subCategory"
                    optionLabel="label"
                  ></p-dropdown>
                </div>
              </div>

              <div class="p-grid form-group">
                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5">
                  <h3>Description</h3>
                  <textarea
                    [rows]="3"
                    [cols]="30"
                    [(ngModel)]="description"
                    pInputTextarea
                    placeholder="Descritption"
                    #decriptionCtrl="ngModel"
                    #decriptionCtrl
                    autoResize="autoResize"
                    name="descritption"
                  ></textarea>
                </div>

                <div class="p-col-1 p-md-1"></div>

                <div class="p-col-5 p-md-5"></div>
              </div>

              <div class="p-grid form-group block-marge">
                <div class="p-col-3 p-md-3"></div>

                <div class="p-col-6 p-md-6">
                  <button
                    type="submit"
                    [disabled]="!f.valid"
                    label="Suivant"
                    pButton
                  ></button>
                </div>

                <div class="p-col-3 p-md-3"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
