<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1 class="titel-steps">Nouvelle vente privée</h1>
          <div class="p-grid ui-fluid">
            <div class="p-col-2">
            </div>
            <div class="p-col-8">
              <p-steps [model]="items" [activeIndex]="2"></p-steps>
            </div>
            <div class="p-col-2">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1>Produit</h1>
          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <input type="text" pInputText placeholder="Nom *" autocomplete="off" />
            </div>

            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Descritption *"
                autoResize="autoResize"></textarea>
            </div>
          </div>


          <div class="p-grid form-group block-marge">
            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <input type="text" pInputText placeholder="Ancien prix" autocomplete="off" />
            </div>

            <div class="p-col-1 p-md-1">
            </div>

            <div class="p-col-5 p-md-5">
              <input type="text" pInputText placeholder="Nouveau prix" autocomplete="off" />
            </div>
          </div>


          <div class="p-grid form-group block-marge">
            <div class="p-col-2 p-md-2">
            </div>

            <div class="p-col-8 p-md-8">
              <p-fileUpload name="demo[]" chooseLabel="Choisir" uploadLabel="Télécharger" cancelLabel="Annuler"
                url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*"
                maxFileSize="1000000">
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                  </ul>
                </ng-template>
              </p-fileUpload>
            </div>

            <div class="p-col-2 p-md-2">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid ui-fluid">
  <div class="p-col-12 p-lg-12">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card card-w-title">
          <h1>Les elements</h1>
          <div class="p-grid form-group block-marge">
            <div class="p-col-3 p-md-3">
            </div>

            <div class="p-col-6 p-md-6">
              <p-table #dt [columns]="cols" styleClass="ui-table-cars" [value]="currentProducts" [paginator]="true"
                [rows]="5" dataKey="label" selectionMode="single" [(selection)]="selectedProduct">
                <ng-template pTemplate="caption">
                  <div class="ui-table-globalfilter-container">
                    <input type="text" pInputText size="50" placeholder="Global Filter"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:250px;">
                  </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width: 8em;">
                    </th>
                  </tr>

                  <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" style="padding: .5em;">
                      <input *ngSwitchCase="'label'" pInputText type="text" placeholder="Commence par"
                        class="ui-column-filter" style="width: 100%; margin-top: 0;"
                        (input)="dt.filter($event.target.value, col.field, 'startsWith')">
                      <input *ngSwitchCase="'description'" pInputText type="text" placeholder="Commence par"
                        class="ui-column-filter" style="width: 100%; margin-top: 0;"
                        (input)="dt.filter($event.target.value, col.field, 'startsWith')">
                    </th>
                    <th style="width: 8em;">
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">

                    <td (click)="showProduct($event,op3)">{{rowData.label}}</td>
                    <td>{{rowData.descritpion}}</td>
                    <td>{{rowData.oldPrice}}</td>
                    <td>{{rowData.newPrice}}</td>
                    <td>
                      <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil"
                        style="margin-right: .5em"></button>
                      <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            
            <p-overlayPanel [baseZIndex]="9999999" #op3>
              <p-lightbox [images]="images"></p-lightbox>
            </p-overlayPanel>
            
            <div class="p-col-3 p-md-3">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>