::ng-deep .block-marge {
    margin-top: 10px;
}

::ng-deep .ui-steps-item{
    width: 25%;
}

::ng-deep .titel-steps {
    text-align: center;
    
}

::ng-deep .card h1 {
    font-size: 18px;
    font-weight: bolder;
    margin: 18px 0;
}

::ng-deep .centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}